<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>{{ category.getName }}</h1>

    {% if tasks is not empty %}
        <p>Her are the tasks:</p>
        <ul>
            {% for task in tasks %}
                <li>{{ task.getDescription }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a task</h4>

    <form action="/tasks" method="post">
        <input id="category_id" type="hidden" name="category_id" value="{{ category.getId() }}">
        <label for="description">Task Description</label>
        <input for="description" name="description" type="text">

        <label for="due_date">Due Date</label>
        <input for="due_date" name="due_date" type="text">

        <button type="submit">Add task</button>
    </form>
    <!-- {% if categories is not empty %}
        <p>Here are all your categories:</p>
        <ul>
            {% for category in categories %}
                <li>{{ category.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/categories' method='post'>
        <label for='name'>Category name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add category</button>
    </form>
    <form action='/delete_categories' method='post'>
        <button type='submit'>Clear</button>
    </form> -->

    <p><a href='/'>Home</a></p>
</body>
</html>
